.ui.table thead tr:first-child > th {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.th,
tr,
thead {
  box-sizing: border-box;
}

.ui.table td {
  white-space: pre-line;
}

.ui.table {
  border: none !important;
}

.scrollable-table {
  border-radius: 0.5rem;
  overflow: auto;
  background-color: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 2px 2px 10px 0 rgba(34, 36, 38, 0.85);
}

body ::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}
